@model IEnumerable<features.Models.Feeedback>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Feedback</h2>

<p class="button">
    @Html.ActionLink("Add Feedback", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.feedback)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timestamp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.feedback)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timestamp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.feedbackId }, htmlAttributes: new { @class = "button-edit" }) 
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.feedbackId }, htmlAttributes: new { @class = "button-delete" })
        </td>
    </tr>
}

</table>
